{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "semi": "error",
    "prettier/prettier": "error",
    "import/no-anonymous-default-export": ["error", {
      "allowArray": true,
      "allowArrowFunction": true,
      "allowAnonymousClass": true,
      "allowAnonymousFunction": true,
      "allowCallExpression": true,
      "allowLiteral": true,
      "allowObject": true
    }]
  }
}
