.fhir-resource__Questionnaire-list {
  list-style: none;
  padding: 2px;
  margin: 2px;
}

.fhir-resource__Questionnaire-list-title {
  padding: 2px 2px 4px 2px;
  font-weight: bold;
}

.fhir-resource__Questionnaire-list-title-question {
  background: #f8f9fa;
  align-items: center;
  margin-bottom: 56px;
  padding-left: 16px;
  border-radius: 4px;
  color: #adb5bd;
}

.fhir-resource__Questionnaire-questions-list {
  list-style: none;
  padding-left: 0;
  display: block;
  color: #adb5bd;
}

.fhir-resource__Questionnaire-questions-list li {
  display: block;
  margin-bottom: 56px;
}

.fhir-resource__Questionnaire-questions-list-element {
  background: #f8f9fa;
  border-radius: 4px;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 56px;
}

.fhir-resource__Questionnaire-questions-list li:last-child {
  border-bottom: none;
}

.fhir-resource__Questionnaire-questions-list-item-details {
  font-size: 80%;
}

.fhir-resource__Questionnaire-questions-list-item-details-el {
  display: inline-block;
  margin-right: 15px;
}
