version: 2
jobs:
  build:
    parallelism: 1
    shell: /bin/bash --login
    docker:
      - image: circleci/node:12.3.1-browsers
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run linter
          command: npm run lint
      - run:
          name: Run tests
          command: npm run test
      - run:
          name: Build
          command: npm run build
