@use 'components/ui/grid';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

$font-family-base: 'Titillium Web', system-ui;

$font-weight-bold: 600;

$font-sizes: (
  4: 1.125rem,
);

$line-height-lg: 1.75;

$body-color: #475263;

$secondary: #8f939a;

$light: #dedddd;

$enable-negative-margins: true;

.header-icon__placeholder {
  // TODO constrain custom images size
  width: 24px;
  height: 24px;
  background-color: #a3a3a3;
}

.header-icon__practitioner-avatar {
  width: 40px;
  height: 40px;
}

.value__label {
  width: 20%;
}

@import '~bootstrap/scss/bootstrap.scss';
