/* UI */
.fhir-ui__Header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.fhir-ui__Title {
  margin-right: 10px;
  margin-bottom: 0;
}

.fhir-ui__Badge {
  margin-right: 10px;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  background-color: #6c757d;
}

.fhir-ui__BadgeSecondary {
  margin-right: 10px;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  background-color: #f8f9fa;
  color: #000;
}

.fhir-ui__Value {
  display: flex;
  margin-bottom: 10px;
}

.fhir-ui__Value-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #6c757d;
  margin: 0 10px 0 0;
}

/* Based on bootstrap striped-table */
.fhir-ui__Table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.fhir-ui__TableHeader,
.fhir-ui__TableCell {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.fhir-ui__TableHeader {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.fhir-ui__Table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.fhir-ui__Table tbody .fhir-ui__TableRow:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.fhir-ui__ValueSection label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 700;
}

.fhir-ui__ValueSection-body {
  padding: 0 10px;
}

.fhir-ui__MissingValue {
  font-weight: 700;
}

/* ResourceContainer */
.fhir-container__ResourceContainer__card {
  background-color: #f8f9fa;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.fhir-container__ResourceContainer__card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.fhir-container__ResourceContainer__json-button-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.fhir-container__ResourceContainer__json--visible {
  display: block;
  padding-top: 10px;
}

.fhir-container__ResourceContainer__json--hidden {
  display: none;
}

.fhir-container__ResourceContainer__json-button {
  color: #6c757d;
  border-color: #6c757d;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #6c6c6c;
  transition: all 0.15s ease-in-out;
}

.fhir-container__ResourceContainer__json-button:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* Observation */
.fhir-resource__ObservationGraph {
  margin: 0.5rem 0;
  position: relative;
}

.fhir-resource__ObservationGraph__value-wrapper {
  position: relative;
}

.fhir-resource__ObservationGraph__value-actual {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.fhir-resource__ObservationGraph__value-unit {
  display: inline-block;
}

.fhir-resource__ObservationGraph__progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.fhir-resource__ObservationGraph__progress-value {
  opacity: 0.5;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  position: absolute;
  background-color: #007bff;
  border-radius: 50%;
}

.fhir-resource__ObservationGraph__progress-bar--outside-range {
  color: #6c757d;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.fhir-resource__ObservationGraph__progress-bar--inside-range {
  background-color: #0003;
}
