name: Build and Publish
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
on:
  workflow_dispatch:
jobs:
  noop:
    runs-on: oneup-default
    steps:
      - run: echo "Noop"
  