.item-additional {
  grid-area: additional;
}

.item-badge {
  grid-area: badge;
}

.item-icon {
  grid-area: icon;
}
.item-title {
  grid-area: title;
}
.item-arrow {
  grid-area: arrow;
}

.grid {
  display: grid;
  grid-template-columns: 24px auto auto auto 20px;
  grid-template-rows: auto;
  grid-template-areas:
    'icon title . badge arrow'
    'additional additional additional . .';
}
