.header-rotate {
  transform: rotate(-180deg);
  color: #2a6fd7;
}

.accordion-arrow__color {
  color: #6f83a9;
}

.accordion-arrow {
  transition: transform 0.5s;
  width: 24px;
  height: 24px;
}

.accordion-arrow:hover {
  background-color: #f4f8fd;
  border-radius: 8px;
}
